<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>User Login</h1>
<form th:action="@{/userLogin}" th:object="${users}" method="post">
  <label for="name">Enter your name:</label>
  <input type="text" name="username" th:field="*{username}" required><br><br>

  <label for="password">Enter your password:</label>
  <input type="password" name="password" th:field="*{password}"  required><br><br>

  <button type="submit" class="btn">Submit</button>
</form>
</body>
</html>